@using Blog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="container">
    <div class="row">
            <div class="col-8 offset-2">
                <h2 class="title font-light text-center"><a href="#" class="link">Create An Account</a></h2>
            </div>
        </div>
    <div class="row">
            <div class="col-8 offset-2">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>
    <div class="row">
        <div class="col-4 offset-3">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username/Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="padding-top:2%">
                    <div class="col-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()

                    </div>
                </div>
                <div class="row" style="padding-top:2%">
                    <div class="col-6 text-center">
                        <button type="submit" class="btn-lg btn-success" style="width:100%">Login</button>
                    </div>
                    <div class="col-6 text-center">
                        Remember Me
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </div>
                </div>
            }
        </div>
        <div class="col-2">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </div>
</div>














