@model IEnumerable<Blog.Models.BlogPost>
@{
    ViewBag.Title = "Home Page";
}
<!-- ============================================================== -->
<!-- Static Slider 10  -->
<!-- ============================================================== -->
@Html.Partial("_ImageBannerPartial")
<div class="blog-home1 spacer bg-light">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center" style="padding-top:5%">
            <!-- Column -->
            <div class="col-md-8 text-center">
                <h6 class="text-themecolor text-uppercase">Subscription</h6>
                <h2 class="title">Stay informed about new articles</h2>
                <h6 class="subtitle m-t-30">Any time a new .</h6>
                @using (Html.BeginForm("Create", "Subscriptions", FormMethod.Post, new { @class = "m-t-30" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="form-group">
                        @Html.Editor("subname", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group">
                        @Html.Editor("subemail", new { htmlAttributes = new { type="email", @class = "form-control" } })
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-block btn-md text-uppercase" type="submit">Subscribe </button>
                    </div>
                }
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top:10%">
            <div class="col-md-8 text-center">
                <h6 class="text-themecolor text-uppercase">Recent Articles</h6>
                <h2 class="title">Learning, creating, sharing, every week.</h2>
            </div>
        </div>


        @{
                <div class="row m-t-40" style="padding-top:2%">
                    @if (Model.Count() == 0)
                    {
                        <div class="container">
                            <div class="col-8 offset-2">
                                <div class="mini-spacer">
                                    <h2 class="title font-light text-center"><a href="#" class="link">Woops!</a></h2>
                                    <p class="m-t-30 m-b-30 text-center">
                                        No articles are currently posted.
                                    </p>
                                </div>
                            </div>>
                        </div>
                    }
                    @foreach (var blogPost in Model)
                    {
                        var name = blogPost.Author.DisplayName;
                        var date = blogPost.CreateDate.Month + "/" + blogPost.CreateDate.Day + "/" + blogPost.CreateDate.Year;

                        <div class="col justify-content-center" id="blogPosts">
                            <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
                                <a href="#"><img class="card-img-top" src="@blogPost.MediaLink" alt="wrappixel kit"></a>
                                <div class="p-30">
                                    <div class="d-flex no-block font-14">
                                        @Html.ActionLink("Read More", "Details", "BlogPosts", new { slug = blogPost.Slug }, null)
                                        <span class="ml-auto">@name, @date</span>
                                    </div>
                                    <h5 class="font-medium m-t-20"><a href="#" class="link">@blogPost.Title</a></h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
        }
    </div>
</div>