<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNet.Identity;
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" sizes="16x16" href="Images/favicon.png">
    <title>@ViewBag.Title - Damiens Blog</title>

    <link href="~/Content/Main/aos.css" rel="stylesheet" />
    <link href="~/Content/Main/blog-homepage.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Main/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Main/iconmind.css" rel="stylesheet" />
    <link href="~/Content/Main/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/Main/perfect-scrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/Main/prism.css" rel="stylesheet" />
    <link href="~/Content/Main/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/Main/style.css" rel="stylesheet" />
    <link href="~/Content/Main/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/Main/weather-icons.min.css" rel="stylesheet" />
</head>
<body>

    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Damiens Blog</p>
        </div>
    </div>
    <div class="topbar">
        <div class="header6">
            <div class="container po-relative">
                <nav class="navbar navbar-expand-lg h6-nav-bar">
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="~/Images/white-text.png" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info" aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation"><span class="ti-menu"></span></button>
                    <div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
                        @using (Html.BeginForm("Search", "BlogPosts", FormMethod.Post, new { @style="display: inline-block;" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Editor("searchText", new { htmlAttributes = new { @placeholder="Search", @class = "form-control", @style = "width:200px;height:20px;display: inline-block;" } })
                            <button class="btn-sm btn-primary" style="display: inline-block;"><i class="fa fa-search"></i></button>

                        }
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item" style="cursor:pointer">
                                <a class="nav-link" href="@Url.Action("Index", "Home" )">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item" style="cursor:pointer">
                                <a class="nav-link" href="@Url.Action("About", "Home")">
                                    About
                                </a>
                            </li>

                            <li class="nav-item" style="cursor:pointer">
                                <a class="nav-link" href="@Url.Action("Contact", "Home")">
                                    Contact
                                </a>
                            </li>

                            <li class="nav-item" style="cursor:pointer">
                                <a class="nav-link" href="@Url.Action("Index", "BlogPosts")">
                                    Articles
                                </a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Writer"))
                            {
                                <li class="nav-item" style="cursor:pointer">
                                    <a class="nav-link" href="@Url.Action("Create", "BlogPosts")">
                                        Write Article
                                    </a>
                                </li>
                            }
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <div class="banner-innerpage" style="background-image:url(/Images/Main/banner.jpg)">
                <div class="container">
                    <!-- Row  -->
                    <div class="row justify-content-center ">
                        <!-- Column -->
                        <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
                            <h1 class="title">Damien Ostlers Blog</h1>
                            <h6 class="subtitle op-8">Read about what I learned about and how I put it to use weekly.</h6>
                        </div>
                        <!-- Column -->
                    </div>
                </div>
            </div>

            @RenderBody();
        </div>
    </div>

    <div class="footer4 spacer b-t">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 m-b-30">
                    <h5 class="m-b-20">Location</h5>
                    <p>High Point, North Carolina</p>
                </div>
                <div class="col-lg-3 col-md-6 m-b-30">
                    <h5 class="m-b-20">Phone</h5>
                    <p>
                        1-(336)-870-8096
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 m-b-30">
                    <h5 class="m-b-20">Email</h5>
                    <p>
                        <a href="#" class="link">damienostler1@outlook.com</a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="m-b-20">Social</h5>
                    <div class="round-social light">
                        <a href="https://damien-ostler-portfolio.azurewebsites.net" class="link"><i class="fa fa-code"></i></a>
                        <a href="https://github.com/DamienTehDemon/" class="link"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/damien-ostler-254663110/" class="link"><i class="fa fa-linkedin"></i></a>
                        <a href="https://codepen.io/Damien113" class="link"><i class="fa fa-codepen"></i></a>
                        <a href="https://stackoverflow.com/users/5087146/damien-m-ostler" class="link"><i class="fa fa-stack-overflow"></i></a>
                    </div>
                </div>
            </div>
            <div class="f4-bottom-bar">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex font-14">
                            <div class="m-t-10 m-b-10 copyright">Copyright Damien Ostler 2019</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Main/jquery.min.js"></script>
    <script src="~/Scripts/Main/aos.js"></script>
    <script src="~/Scripts/Main/bootstrap.bundle.js"></script>
    <script src="~/Scripts/Main/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/Main/bootstrap.js"></script>
    <script src="~/Scripts/Main/bootstrap.min.js"></script>
    <script src="~/Scripts/Main/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Scripts/Main/popper.min.js"></script>
    <script src="~/Scripts/Main/prism.js"></script>
    <script src="~/Scripts/Main/custom.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/8nicswbw8rmokilkwa76b23ncvmxvzdqy4ll55hiessnefya/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: ".mceEditor" });</script>
    @RenderSection("scripts", required: false)
</body>

</html>

