


@model Blog.Models.BlogPost

@{
    ViewBag.Title = "New Article";
}

@Html.Partial("_ImageBannerPartial")
@using (Html.BeginForm("Create", "BlogPosts", FormMethod.Post, new { @class = "form-control" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="padding-top:5%">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col-8">
                    @Html.EditorFor(model => model.MediaLink, new { htmlAttributes = new { @class = "form-control", @placeholder = "Thumbnail URL" } })
                    @Html.ValidationMessageFor(model => model.MediaLink, "", new { @class = "text-danger" })
                </div>
                <div class="col-4">
                    <button type="button" class="btn waves-effect waves-light btn-block btn-warning">Preview</button>
                </div>
            </div>
            <div class="row" style="padding-top:2%">
                <div class="col-8">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Article Title" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <div class="col-2">

                    <button class="btn waves-effect waves-light btn-block btn-success" type="submit">Post</button>
                </div>
                <div class="col-2">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        @Html.CheckBoxFor(model => model.Listed, new { htmlAttributes = new { @class = "custom-control-input" } })
                        <label class="custom-control-label" for="customControlAutosizing">List This Article</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control", @placeholder = "Article Summary, Is shown on preview page.." } })
                    @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-top:2%">
                <div class="col-12">
                    @Html.EditorFor(model => model.Body, new { htmlAttributes = new {@class="mceEditor", @rows = 25 } });
                    @*<textarea id="richTextEditor" name="blogBody" class="form-control" rows="25">*@
                    @*</textarea>*@
                </div>
            </div>
        </div>
    </div>
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


