@model IEnumerable<Blog.Models.BlogPost>

@{
    ViewBag.Title = "Articles";
}

@Html.Partial("_ImageBannerPartial")




    <div class="col-md-6 offset-3">
        @if (Model.Count() == 0)
        {

            <div class="mini-spacer">
                <h2 class="title font-light text-center"><a href="#" class="link">We couldnt find any published posts.</a></h2>
                <p class="m-t-30 m-b-30 text-center">
                    Sorry about that.
                </p>
            </div>
        }
        else
        {
            foreach (var blogPost in Model.Reverse())
            {
                <div class="row" style="padding-top:5%;">
                    <div class="col-12">
                        <ul class="text-uppercase list-inline font-13 font-medium">
                            <li><a href="#">@blogPost.Author.DisplayName,</a></li>
                            <li><a href="#">Written @blogPost.CreateDate.Month @blogPost.CreateDate.Day, @blogPost.CreateDate.Year</a></li>
                        </ul>
                        <h2 class="title font-light"><a href="#" class="link">@blogPost.Title</a></h2>
                    </div>
                </div>
                <div class="row" style="padding-bottom:5%">
                    <div class="col-6">
                        <p class="m-t-30 m-b-30">@Html.Raw(blogPost.Summary)</p>
                        <ul class="text-uppercase list-inline font-13 font-medium">
                            @Html.ActionLink("CONTINUE READING", "Details", new { slug = blogPost.Slug }) 
                        </ul>
                    </div>
                    <div class="col-6">
                        <img src="@blogPost.MediaLink" style="width:350px;height:225px"/>
                    </div>
                </div>
                <hr />

            }
        }
    </div>