@model PagedList.IPagedList<Blog.Models.Comment>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_NoNavbarLayout.cshtml";
}
        @foreach (var comment in Model)
        {
            <li class="media">
                <div class="media-body">
                    <ul class="text-uppercase list-inline font-13 font-medium">
                        <li><a href="#">Written @comment.CreateDate.Month @comment.CreateDate.Day, @comment.CreateDate.Year</a></li>
                    </ul>
                    @Html.Raw(comment.Content)
                    <a href="@Url.Action("Details","BlogPosts", new { slug=comment.BlogPost.Slug })"><button class="btn btn-outline-primary">View Related Article</button></a>
                </div>
            </li>
        }
        <div class="text-center" id="commentsPager">
            @Html.PagedListPager(Model, page => Url.Action("ProfileComments", new { page }))
        </div>  
@section Scripts{

    <script>
        $('#commentsPager').on('click', 'a', function () {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#ProfileComments').html(result);
                }
            });
            return false;
        });
    </script>
}