@model PagedList.IPagedList<object>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Search";
}
<div class="row" style="padding-top:2%">
    <div class="col-6 offset-3">
        @{
            if (Model.Count > 0)
            {
                foreach (var result in Model)
                {
                    if (result is Blog.Models.Comment)
                    {
                        var comment = (Blog.Models.Comment)result;
                        <li class="media">
                            <img class="d-flex mr-3 img-circle" src="@comment.Author.AvatarPath" width="60" height="60" alt="Generic placeholder image">

                            <div class="media-body">
                                <h5 class="mt-0 mb-1">@comment.Author.DisplayName</h5>
                                @Html.Raw(comment.Content)  
                                <a href="@Url.Action("Details", new { slug = comment.BlogPost.Slug })"><button class="btn btn-outline-primary">View Related Article</button></a>
                            </div>
                        </li>
                    }
                    else
                    {
                        var blog = (Blog.Models.BlogPost)result;
                        <li class="media" style="padding-top:5%;">
                            <img class="d-flex mr-3 img-circle" src="@blog.Author.AvatarPath" width="60" height="60" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="row" style="padding-top:5%;">
                                    <div class="col-12">
                                        <ul class="text-uppercase list-inline font-13 font-medium">
                                            <li>@Html.ActionLink(blog.Author.DisplayName, "Profile", "Account", new { id = blog.AuthorId }, new { })</li>
                                            <li><a href="#">Written @blog.CreateDate.Month @blog.CreateDate.Day, @blog.CreateDate.Year</a></li>
                                        </ul>
                                        <h2 class="title font-light"><a href="#" class="link">@blog.Title</a></h2>
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom:5%">
                                    <div class="col-6">
                                        <p class="m-t-30 m-b-30">@Html.Raw(blog.Summary)</p>
                                        <ul class="text-uppercase list-inline font-13 font-medium">
                                            @Html.ActionLink("CONTINUE READING", "Details", new { slug = blog.Slug })
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <img src="@blog.MediaLink" style="width:100%" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }

                <div class="text-center" id="resultsPager">
                    @Html.PagedListPager(Model, page => Url.Action("Search", new { searchText=ViewBag.Search, page }))
                </div>
            }
            else
            {
                <div class="mini-spacer">
                    <h2 class="title font-light text-center"><a href="#" class="link">We couldnt find anything matching your search.</a></h2>
                    <p class="m-t-30 m-b-30 text-center">
                        Make sure you are spelling it right. We couldnt find any comments or articles with matching content.
                    </p>
                </div>
            }
        }
    </div>
</div>
